.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.App span{
    margin: 20px;
    font-size: large;
    font-style:italic;
}